<div class="modal-header" style="text-align:left">
        <button (click)="closeModal($event)" type="button" aria-hidden="true" class="close">×</button>
    </div>
    
    <div class="modal-body">
        <!-- Start Page-Title-->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item m-t-5">HOME</li>
                    </ol>
                    <h5 class="page-title">{{title}} 현황 </h5>
                </div>
            </div>
        </div>
        <!-- End Page Title-->

        <!-- start people info --> 
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="card-box">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img src="/assets/images/users/avatar-2.jpg" alt="user" class="img-responsive img-circle">
                                    </div>
                                    <div class="col-lg-8 float-right">
                                        <p><span>{{userInfo?.company_nm}}</span></p>
                                        <p><span>{{userInfo?.dept_nm}}</span></p>
                                        <p><span>{{userInfo?.employee_nm}} {{userInfo?.position_nm}}</span></p>
                                        <p><span>{{userInfo?.office_tel_no}}</span></p>
                                        <p><span>{{userInfo?.hp_telno}}</span></p>
                                        <p><span>{{userInfo?.email}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="card-box">
                                <div class="row">
                                        <h4 class="text-dark header-title float-left m-l-30">{{subTitle1}}</h4>
                                </div>
                                <div class="row">
                                    <ngx-charts-pie-chart [view]="[480,200]" 
                                        [scheme]="colorScheme3" 
                                        [results]="higherCntChart" 
                                        [explodeSlices]="false" 
                                        [gradient]="true"
                                        [labels]="true"
                                        (select)="onSelect($event)" 
                                    >
                                    </ngx-charts-pie-chart>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="card-box">
                                <div class="row">
                                        <h4 class="text-dark header-title float-left m-l-30">{{subTitle2}}({{avg}})</h4>
                                </div>
                                <div class="row">
                                    <ngx-charts-advanced-pie-chart [view]="[500,200]" 
                                    [scheme]="colorScheme3" 
                                    [results]="valuationChart" 
                                    [gradient]="true"
                                    (select)="onSelect($event)"
                                >
                                </ngx-charts-advanced-pie-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end people info -->        
        

        <!-- start list-->
        <app-incident-list-injectable 
                        [searchYyyy]="searchYyyy"
                        [searchMm]="searchMm"
                        [searhHigherCd]="searhHigherCd"
                        [searhHigherNm]="searhHigherNm"
                        [searchCompany]="searchCompany"
                        [searchRequestId]="searchRequestId"
                        [searchManagerEmail]="searchManagerEmail"
        >
        </app-incident-list-injectable>   
        <!-- End list-->
    
    </div>
          