@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: 'Roboto', sans-serif !important;
  overflow: hidden;
  margin: 0;
  font-size: 0.9em !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* Colors */
.errorCol {
  color: #f44336;
}

/* MATERIAL OVERRIDES */

/* MatSnackbar */

.mat-snack-bar-container.success {
  background-color: #8bc34a;
  color: #ffffff;
}

.mat-snack-bar-container.danger {
  background-color: #f44336;
  color: #ffffff;
}

.mat-simple-snackbar-action {
  color: #ffffff;
}

.mat-form-field {
  width: 200px !important;
}

.mat-form-field2 {
  width: 300px !important;
}

.mat-form-field3 {
  width: 650px !important;
}

.mat-form-field4 {
  width: 750px !important;
}

.mat-form-field-login {
    width: 340px !important;
  }

.svcd-body-content {
  margin: auto;
  width: 1100px !important;
}

.pull-right {
  float: left !important;
}

.mdModal > .modal-dialog {
    max-width: 600px !important;
    min-width: 300px !important;   
    width: 50% !important;
}

.xlModal > .modal-dialog {
    max-width: 1024px !important;
    min-width: 500px !important;   
    width: 90% !important;
}

.xxlModal > .modal-dialog {
    max-width: 1490px !important;
    min-width: 500px !important;   
    width: 95% !important;
}

.mat-toolbar.mat-primary {
    background: #008fd4 !important;
    color: #fff;
}

.text-primary-svc {
    color: #3bafda;
}

.content-header{
    width: 98% !important;
    margin-left: 1% !important;
}

.content{
    width: 98% !important;
    margin-left: 1% !important;
}
