<!-- 제목 시작-->
<section class="content-header">
  <h1>
    <small>Service Desk Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>&nbsp;만족도 현황</a>
    </li>
    <li class="active"></li>
  </ol>
</section>
<!-- 제목 끝-->

<section class="content">
  <!-- 상태 차트 시작-->
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card-box">
        <div class="row">
          <h4 class="text-dark header-title float-left m-l-30">만족도 현황</h4>
            <ngx-charts-pie-grid
                class="chart-container"
                [view]="view"
                [scheme]="colorScheme"
                (legendLabelClick)="onLegendLabelClick($event)"
                [results]="single"
                [animations]="true"
                [tooltipDisabled]="tooltipDisabled"
                [tooltipText]="pieTooltipText"
                (select)="select($event)">
            </ngx-charts-pie-grid>
        </div>
      </div>
    </div>

  </div>
  <!-- 상태 차트 끝-->

  <!-- 만족도 현황 차트 시작-->
  <div class="row">

    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <div class="row">
          <div class="col-sm-12 col-lg-6 m-t-60">
            <h4 class="text-dark header-title float-left m-l-30">만족도 현황</h4>
            
          </div>
          <div class="col-sm-12 col-lg-6 float-left">
            <h4 class="text-dark header-title float-left m-l-30">총요청 현황</h4>  
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- 만족도 현황 차트 끝-->

  <!-- 처리현황 시작-->
  <div class="row">
  
  </div>
  <!-- 처리현황 끝-->

</section>

