<!-- 제목 시작-->
<section class="content-header">
  <h1>
    <small>Service Desk Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>&nbsp;만족도 현황</a>
    </li>
    <li class="active"></li>
  </ol>
</section>
<!-- 제목 끝-->

<section class="content">
  <!-- 상태 차트 시작-->
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <div class="row">
          <h4 class="text-dark header-title float-left m-l-30">상위5개 만족도 현황</h4>
            <ngx-charts-bubble-chart
              [view]="[700,300]"
              class="chart-container"
              [results]="bubble"
              [animations]="animations"
              [showGridLines]="showGridLines"
              [legend]="showLegend"
              [legendTitle]="legendTitle"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [autoScale]="autoScale"
              [xScaleMin]="xScaleMin"
              [xScaleMax]="xScaleMax"
              [yScaleMin]="yScaleMin"
              [yScaleMax]="yScaleMax"
              [roundDomains]="roundDomains"
              [tooltipDisabled]="tooltipDisabled"
              [minRadius]="minRadius"
              [maxRadius]="maxRadius">
            </ngx-charts-bubble-chart>
            
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <div class="row">
          <h4 class="text-dark header-title float-left m-l-30">업무별 만족도</h4>  
            <ngx-charts-bar-vertical
              [view]="[900,300]"
              [scheme]="colorScheme"
              [results]="single"
              [gradient]="gradient2"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend2"
              [legendTitle]="legendTitle2"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabel2"
              [yAxisLabel]="yAxisLabel"
              (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>

  <!-- 상태 차트 끝-->

  <!-- 만족도 현황 차트 시작-->
  <div class="row">

    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <div class="row">
          <div class="col-sm-12 col-lg-6 m-t-60">
            <h4 class="text-dark header-title float-left m-l-30">만족도 현황</h4>
            
          </div>
          <div class="col-sm-12 col-lg-6 float-left">
            <h4 class="text-dark header-title float-left m-l-30">총요청 현황</h4>  
            
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- 만족도 현황 차트 끝-->

  <!-- 처리현황 시작-->
  <div class="row">
  
  </div>
  <!-- 처리현황 끝-->

</section>

