<app-loading [condition]="isLoading"></app-loading>
<app-toast></app-toast>

<div class="content">
    <div class="container">
        <div class="svcd-body-content">

            <app-page-header [title]="'회사별 업무지정'"></app-page-header>

            <!-- start Search Area-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <form novalidate #f="ngForm" (ngSubmit)="getCompanyList()" class="form-horizontal group-border-dashed">
                            <div class="form-group row">
                                <div class="col-lg-5 col-sm-12">
                                    <mat-form-field class="mat-form-field2">
                                        <mat-select [(ngModel)]="company_cd" 
                                                    name="company_cd"
                                                    (selectionChange)="setCompany($event.value)"
                                                    placeholder="회사명">
                                            <mat-option *ngFor="let obj of companyObj" [value]="obj.company_cd">{{obj.company_nm}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-sm-12 float-left">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-5">
                                        <span>조회</span>
                                        <i class="fa fa-search m-r-5"></i>
                                    </button>
                                </div>
                                <div class="col-lg-5 col-sm-12"></div>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
            <!-- end Search Area-->  
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-box">
                        <ngx-treeview [config]="config" 
                                    [items]="items" 
                                    (selectedChange)="onSelectedChange($event)" 
                                    [disabled]="!dropdownEnabled"
                                    [ngxDisabledOnSelector]="'button.dropdown-toggle'" 
                                    (filterChange)="onFilterChange($event)"
                        >
                        </ngx-treeview>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="list-group">
                        <a *ngFor="let val of values" class="list-group-item list-group-item-action">{{val.higher_nm}}/{{val.lower_nm}}</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>