<app-toast></app-toast>
<div class="modal-header" style="text-align:left">
  <h5 class="modal-title">
    업무변경
  </h5>
  <button (click)="closeModal($event)" type="button" aria-hidden="true" class="close">×</button>
</div>
<div class="modal-body">
  <form novalidate #f="ngForm" (ngSubmit)="changeHigher(f)" class="form-horizontal group-border-dashed">
        <div ngModelGroup="incident">
            <div class="row" >
                <div class="col-lg-9  float-left">
                    <h5 class="m-t-30 text-primary-svc">
                        <i style="font-size:22px" class="md md-sms m-r-10"></i>
                        <b>변경될 업무를 선택하세요.</b>
                    </h5>
                </div>
                <div class="col-lg-3 float-right">
                    <button type="submit" 
                            [disabled]="!f.valid" 
                            class="btn btn-sm btn-primary waves-effect waves-light float-right m-t-20">
                    <i class="fa fa-check"></i> 저장
                    </button>
                </div>
            </div>
            <div class="card-box m-r-5">
                <div class="row">
                    <div class="col-lg-3"></div>  
                    <div class="col-lg-9">        
                        <div class="form-group">
                            <app-higher-cd 
                                [scope]="'*'"
                                [required]="true"
                                [company]="''"
                                [placeholder]="'상위업무'"
                                (outHigherCd)="setHigher($event)"
                            ></app-higher-cd>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-3"></div>     
                    <div class="col-lg-9">        
                        <div class="form-group">
                            <app-lower-cd 
                                [required]="false"
                                [placeholder]="'하위업무'"
                                (outLowerCd)="setLower($event)"
                            ></app-lower-cd>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>  
</div>
