
<side-nav-x-group title="문의하기">
    <side-nav-item route="svcd/incident/new" title="문의하기" icon="send"></side-nav-item>
    <side-nav-item route="svcd/incident/list" title="처리진행현황" icon="assignment"></side-nav-item>
    <side-nav-item route="svcd/incident/list-mng" title="자주묻는 질문과답" icon="help"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="처리된 내용검색" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD담당자">
    <side-nav-item route="svcd/incident/new" title="상담접수" icon="call missed outgoing"></side-nav-item>
    <side-nav-item route="svcd/incident/list" title="나의 업무처리현황" icon="star half"></side-nav-item>
    <side-nav-item route="svcd/incident/list-mng" title="나의 업무지정" icon="note"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="월별 처리내역" icon="event"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD 검색/통계">
    <side-nav-item route="svcd/incident/new" title="전체내용검색" icon="chevron right"></side-nav-item>
    <side-nav-item route="svcd/statistic/com-higher" title="회사별 상위업무통계" icon="trending up"></side-nav-item>
    <side-nav-item route="svcd/incident/list-mng" title="상위별 하위업무통계" icon="launch"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="미해결 현황" icon="multiline chart"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="담당자별 월별 처리내역" icon="call missed outgoing"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="처리구분별 처리내역" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD 기본정보">
    <side-nav-item route="svcd/incident/new" title="상위업무조회" icon="send"></side-nav-item>
    <side-nav-item route="svcd/incident/list" title="하위업무조회" icon="assignment"></side-nav-item>
    <side-nav-item route="svcd/company/list" title="회사정보관리(내외)" icon="help"></side-nav-item>
    <side-nav-item route="svcd/usermanage/list" title="사원정보관리(내외)" icon="perm_identity"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="미승인 사원관리" icon="list"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="회사별 상위업무지정" icon="list"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="처리구분 코드조회" icon="list"></side-nav-item>
    <side-nav-item route="svcd/incident/list-all" title="자주묻는 질문과답" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD Dashboard">
    <side-nav-item route="svcd/incident/new" title="문의하기" icon="view quilt"></side-nav-item>
</side-nav-x-group>
