
<side-nav-x-group title="문의하기">
    <side-nav-item route="/svcd/1100" title="문의하기" icon="send"></side-nav-item>
    <side-nav-item route="/svcd/1200" title="처리진행현황" icon="assignment"></side-nav-item>
    <side-nav-item route="/svcd/1300" title="자주묻는 질문과답" icon="help"></side-nav-item>
    <side-nav-item route="/svcd/1400" title="처리된 내용검색" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD담당자">
    <side-nav-item route="/svcd/2100" title="상담접수(전화)" icon="call missed outgoing"></side-nav-item>
    <side-nav-item route="/svcd/2200" title="나의 업무처리현황" icon="star half"></side-nav-item>
    <side-nav-item route="/svcd/2300" title="나의 업무지정" icon="note"></side-nav-item>
    <side-nav-item route="/svcd/2400" title="월별 처리내역" icon="event"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD 검색/통계">
    <side-nav-item route="/svcd/3100" title="전체내용검색" icon="chevron right"></side-nav-item>
    <side-nav-item route="/svcd/3200" title="회사별 상위업무통계" icon="trending up"></side-nav-item>
    <side-nav-item route="/svcd/3300" title="상위별 하위업무통계" icon="launch"></side-nav-item>
    <side-nav-item route="/svcd/3400" title="미해결 현황" icon="multiline chart"></side-nav-item>
    <side-nav-item route="/svcd/3500" title="담당자별 월별 처리내역" icon="call missed outgoing"></side-nav-item>
    <side-nav-item route="/svcd/3600" title="처리구분별 처리내역" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD 기본정보">
    <side-nav-item route="/svcd/4100" title="상위업무조회" icon="send"></side-nav-item>
    <side-nav-item route="/svcd/4200" title="하위업무조회" icon="assignment"></side-nav-item>
    <side-nav-item route="/svcd/4300" title="회사정보관리(내외)" icon="help"></side-nav-item>
    <side-nav-item route="/svcd/4400" title="사원정보관리(내외)" icon="perm_identity"></side-nav-item>
    <side-nav-item route="/svcd/4500" title="미승인 사원관리" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4600" title="회사별 상위업무지정" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4700" title="처리구분 코드조회" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4800" title="자주묻는 질문과답" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4900" title="미승인 사원관리" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4910" title="회사별 상위업무지정" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4920" title="처리구분 코드조회" icon="list"></side-nav-item>
    <side-nav-item route="/svcd/4930" title="자주묻는 질문과답" icon="list"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD Dashboard">
    <side-nav-item route="/svcd/incident/aaa" title="문의하기" icon="view quilt"></side-nav-item>
</side-nav-x-group>
