<div class="content">
    <div class="container">
        <div class="svcd-body-content">

            <app-page-header [title]="'상당접수(전화)'"></app-page-header>

            <form novalidate #f="ngForm" (ngSubmit)="saveIncident(f)" class="form-horizontal group-border-dashed">
                <div ngModelGroup="incident">
                    <div class="row">
                        <div class="col-sm-12">
                            <div role="toolbar" class="btn-toolbar m-t-10  float-right">
                                <div>
                                    <button type="submit" [disabled]="!f.valid" class="btn btn-primary waves-effect waves-light m-r-5">
                                        <span>저장</span>
                                        <i class="fa fa-send m-l-10"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-box">
                                
                                <div class="form-group row">

                                    <div class="col-lg-6 col-sm-12">
                                        <mat-form-field class="mat-form-field2">
                                            <input matInput 
                                                ngModel
                                                [matAutocomplete]="auto" 
                                                [formControl]="userControl"
                                                id="request_info"
                                                #rnm
                                                type="input" 
                                                required 
                                                placeholder="요청자명"
                                            >
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let user of searchResult;" 
                                                            [value]="user.employee_nm"
                                                            (onSelectionChange)="setRequestInfo(user)"
                                                >
                                                    <span [innerHTML] = "user.employee_nm | matchCharCss : rnm.value"></span>
                                                    {{user.company_nm}}{{user.dept_nm}} {{user.position_nm}}  {{user.office_tel_no}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-lg-3 col-sm-12">
                                        <app-higher-cd 
                                                    [scope]="'company'"
                                                    [required]="true" 
                                                    [placeholder]="'요청업무'"
                                                    [company]="request_company"
                                                    (outHigherCd)="onSelected($event)"
                                        ></app-higher-cd>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <mat-form-field>
                                            <mat-select [(ngModel)] = "initPrcSpd" 
                                                        name="process_speed" 
                                                        placeholder="긴급구분"
                                            >
                                                <mat-option *ngFor="let opt of processSpeed" value="{{opt.value}}">{{opt.name}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="higher?.higher_cd == 'H008'" class="form-group row">
                                    <div class="col-lg-9 col-sm-12">
                                        <mat-form-field class="mat-form-field4">
                                            <input matInput 
                                                ngModel 
                                                name="app_menu" 
                                                type="input" 
                                                placeholder="문의화면 ex)인사관리>발령정보>발령처리"
                                            >
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 col-sm-12"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-9 col-sm-12">
                                        <mat-form-field class="mat-form-field4">
                                            <input matInput 
                                                ngModel
                                                name="title" 
                                                type="input" 
                                                required 
                                                placeholder="제목"
                                            >
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <mat-form-field class="example-full-width" color="accent">
                                            <input matInput 
                                                [(ngModel)]="request_complete_date.value" 
                                                name="request_complete_date" 
                                                [min]="minDate" 
                                                [max]="maxDate" 
                                                [matDatepicker]="picker"
                                                (dateInput)="addEvent('input', $event)" 
                                                (dateChange)="addEvent('change', $event)" 
                                                placeholder="완료요청일"
                                            >
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div style="text-align:left;width:100%">
                                            <textarea ngModel 
                                                    id="summernote" 
                                                    name="content" 
                                                    align="left" 
                                                    row="10"
                                            ></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- 첨부파일 Start-->
                                <div class="card-box m-r-5">
                                    <div class="form-group row">
                                        <div class="col-lg-9 col-sm-12">
                                            <input type="file" 
                                                ng2FileSelect 
                                                [uploader]="uploader" 
                                                name="avatar" 
                                                id="avatar" 
                                                multiple
                                                style="width:100%"
                                            >
                                        </div>
                                        <div class="col-lg-3 col-sm-12" >
                                            <mat-label class>첨부개수 : {{ uploader?.queue?.length }}</mat-label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 col-sm-12 m-b-40">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="50%">파일명</th>
                                                        <th>크기</th>
                                                        <th>진행</th>
                                                        <th>상태</th>
                                                        <th>제거</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of uploader.queue">
                                                        <td>
                                                            <strong>{{ item?.file?.name }}</strong>
                                                        </td>
                                                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                        <td *ngIf="uploader.options.isHTML5">
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span *ngIf="item.isSuccess">
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            </span>
                                                            <span *ngIf="item.isCancel">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                            </span>
                                                            <span *ngIf="item.isError">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </span>
                                                        </td>
                                                        <td nowrap>
                                                            <!--
                                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                            </button>
                                                            -->
                                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                                <span class="glyphicon glyphicon-trash"></span> 제거
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    
                                            <div style="text-align: right">
                                                <div>
                                                    업로드 상태:
                                                    <div class="progress" style="">
                                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                <!--
                                                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                                </button>
                                                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                </button>
                                                -->
                                                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> 전체 제거
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 첨부파일 End-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>