<!-- 제목 시작-->
<section class="content-header">
  <h1>
    <small>Service Desk Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>&nbsp;업무담당자</a>
    </li>
    <li class="active"></li>
  </ol>
</section>
<!-- 제목 끝-->

<section class="content">
  <!-- 상태 차트 시작-->
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <h4 class="text-dark header-title float-left m-l-30">접수 처리 현황</h4>
                        </div>
                        <div class="row">
                            <ngx-charts-pie-grid [view]="view1" 
                                                [scheme]="colorScheme1" 
                                                [label]="'건수'" 
                                                [results]="statusChart1" 
                                                (select)="onSelect(content, $event)"
                            >
                            </ngx-charts-pie-grid>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="row">
                            <h4 class="text-dark header-title  float-left m-l-30">완료 평가 현황</h4>
                        </div>
                        <div class="row">
                            <ngx-charts-pie-grid [view]="view1" 
                                                [scheme]="colorScheme2" 
                                                [label]="'건수'" 
                                                [results]="statusChart2" 
                                                (select)="onSelect(content, $event)"
                            >
                            </ngx-charts-pie-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="card-box">
                <div class="row">
                        <h4 class="text-dark header-title float-left m-l-30">만족도 현황</h4>
                </div>
                <div class="row">
                    <ngx-charts-advanced-pie-chart [view]="view2" 
                                                    [scheme]="colorScheme3" 
                                                    [results]="valuationChart" 
                                                    [gradient]="gradient"
                                                    (select)="onSelect(content, $event)"
                    >
                    </ngx-charts-advanced-pie-chart>
                </div>
            </div>
        </div>

  </div>
  <!-- 상태 차트 끝-->

  <!-- 월별 요청 건, 총 요청 현황 차트 시작-->
  <div class="row">

    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <div class="row">
          <div class="col-sm-12 col-lg-6 m-t-60">
            <div class="row">
              <h4 class="text-dark header-title float-left m-l-30">월별 요청건 현황</h4>
            </div>
            <div class="row">
              <ngx-charts-line-chart [view]="view3" 
                                    [scheme]="colorScheme3" 
                                    [results]="monthlyCntChart" 
                                    [gradient]="gradient" 
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis" 
                                    [legend]="showLegend"
                                    [legendTitle]="''"
                                    [showXAxisLabel]="showXAxisLabel" 
                                    [showYAxisLabel]="showYAxisLabel" 
                                    [xAxisLabel]="xAxisLabel"
                                    [yAxisLabel]="yAxisLabel" 
                                    [autoScale]="autoScale" 
                                    [timeline]="timeline" 
                                    (select)="onSelect(content, $event)"
              >
              </ngx-charts-line-chart>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6 float-left">
            <div class="row">  
              <h4 class="text-dark header-title float-left m-l-30">총요청 현황</h4>  
            </div>
            <div class="row">
              <ngx-charts-pie-chart [view]="view3" 
                [scheme]="colorScheme3" 
                [results]="higherCntChart" 
                [explodeSlices]="true" 
                [gradient]="gradient"
                [labels]="true"
                (select)="onSelect(content, $event)" 
              >
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- 만족도, 요청 현황 차트 끝-->

  <!-- 처리현황 시작-->
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="card-box">
        <h4 class="text-primary m-t-0">처리현황</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th width="5%" class="text-center">긴급</th>
                <th class="text-center">제목</th>
                <th width="10%" class="text-center">등록일</th>
                <th width="15%" class="text-center">요청경로</th>
                <th width="10%" class="text-center">진행구분</th>
                <th width="6%" class="text-center">요청자</th>
                <th width="6%" class="text-center">담당자</th>
                <th width="10%" class="text-center">완료일</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let incident of incidentList" style="cursor:pointer" >
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-center"><span *ngIf="incident?.process_speed == 'Y'" class="label label-warning">✔</span></td>
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-left">{{incident?.title}}</td>
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-center">{{incident?.register_date}}</td>
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-center">{{incident?.app_menu}}</td>
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-center">
                    <span *ngIf="incident?.status_cd == 1" class="label label-inverse">접수대기</span>
                    <span *ngIf="incident?.status_cd == 2" class="label label-primary">처리중</span>
                    <span *ngIf="incident?.status_cd == 3" class="label label-success">미평가</span>
                    <span *ngIf="incident?.status_cd == 4" class="label label-purple">처리완료</span>
                    <span *ngIf="incident?.status_cd == 5" class="label label-info">협의필요</span>
                    <span *ngIf="incident?.status_cd == 6" class="label label-default">미처리</span>
                </td>
                <td (click)="getEmpInfo(empInfoModal,incident.request_id);" class="text-center">{{incident?.request_nm}}</td>
                <td (click)="getEmpInfo(empInfoModal,incident.manager_email);" class="text-center">{{incident?.manager_nm}}</td>
                <td (click)="setDetail(incidentDetailModal, incident);" class="text-center">{{incident?.complete_date}}</td>
              </tr>
              
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
  <!-- 처리현황 끝-->

</section>


<!-- start detail view modal -->
<ng-template #incidentDetailModal let-c="close" let-d="dismiss">
    <app-incident-detail-m [cValues]="this.c"
                            [dValues]="this.d"
                            [incidentDetail]="incidentDetail"
    ></app-incident-detail-m>
</ng-template>
<!-- end detail view modal -->

<!-- start empInfo modal -->
<ng-template #empInfoModal let-c="close" let-d="dismiss">
    <app-emp-info [cValues]="this.c"
                    [dValues]="this.d"
                    [email]="empEmail"
    ></app-emp-info>
</ng-template>
<!-- end empInfo modal -->

<!-- start popup modal -->
<ng-template #popupModal1 let-c="close" let-d="dismiss">
    <app-pop-up [cValues]="this.c"
                    [dValues]="this.d"
                    [popNotice]="noticeList[0]"
    ></app-pop-up>
</ng-template>
<!-- end popup modal -->

<!-- start popup modal -->
<ng-template #popupModal2 let-c="close" let-d="dismiss">
    <app-pop-up [cValues]="this.c"
                    [dValues]="this.d"
                    [popNotice]="noticeList[1]"
    ></app-pop-up>
</ng-template>
<!-- end popup modal -->

<!-- start popup modal -->
<ng-template #popupModal3 let-c="close" let-d="dismiss">
    <app-pop-up [cValues]="this.c"
                    [dValues]="this.d"
                    [popNotice]="noticeList[2]"
    ></app-pop-up>
</ng-template>
<!-- end popup modal -->

<!-- start popup modal -->
<ng-template #popupModal4 let-c="close" let-d="dismiss">
    <app-pop-up [cValues]="this.c"
                    [dValues]="this.d"
                    [popNotice]="noticeList[3]"
    ></app-pop-up>
</ng-template>
<!-- end popup modal -->

<!-- start popup modal -->
<ng-template #popupModal5 let-c="close" let-d="dismiss">
    <app-pop-up [cValues]="this.c"
                    [dValues]="this.d"
                    [popNotice]="noticeList[4]"
    ></app-pop-up>
</ng-template>
<!-- end popup modal -->


<ng-template #content let-c="close" let-d="dismiss">
    <app-incident-list-modal [cValues]="this.c"
                        [dValues]="this.d"
                        [selectedItem]="selectedItem"
                        
    >
    </app-incident-list-modal>
</ng-template>