<app-toast></app-toast>
<!-- Full Page Image Background Carousel Header-->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators-->
  <ol class="carousel-indicators">
    <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
    <li data-slide-to="1" data-target="#myCarousel"></li>
    <li data-slide-to="2" data-target="#myCarousel"></li>
  </ol>
  <!-- Wrapper for Slides-->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below.-->
      <div style="background-image:url(assets/images/bg_login_1.jpg)" class="fill"></div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below.-->
      <div style="background-image:url(assets/images/bg_login_2.jpg)" class="fill"></div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below.-->
      <div style="background-image:url(assets/images/bg_login_3.jpg)" class="fill"></div>
    </div>
  </div>
</div>
<div class="wrapper-page">
  <div class="login-box">
    <div class="text-center">
      <a href="#" class="logo-lg">
        <img src="/assets/images/ci_isusystem.png" alt="isusystem">
      </a>
    </div>
    <form #f="ngForm" (ngSubmit)="loginCheck(f)" class="form-horizontal m-t-20">
      <fieldset>
        <!--h2 로그인하세요.-->
        <div class="form-group">
          <div class="col-xs-12">
            <mat-form-field class="mat-form-field-login">
              <span matPrefix>
                <i class="prefix fa fa-envelope"></i>
              </span>
              <input matInput [(ngModel)]="email" #em id="email" name="email" type="email" placeholder="Email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
              <mat-hint *ngIf="(em.invalid ) && (em.dirty) && (!f.submitted)">
                Email 형식에 맞게 입력하세요.
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <mat-form-field class="mat-form-field-login">
              <span matPrefix>
                <i class="prefix fa fa-key"></i>
              </span>
              <input matInput [(ngModel)]="password" #pwd id="password" name="password" type="password" placeholder="Password">
              <mat-hint *ngIf="(pwd.invalid ) && (pwd.dirty) && (!f.submitted)">
                password를 입력하세요.
              </mat-hint>
            </mat-form-field>
            <input [(ngModel)]="sso" type="hidden" name="sso">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <mat-checkbox [(ngModel)]="remember_me" [ngModelOptions]="{standalone: true}">아이디 저장</mat-checkbox>
          </div>
        </div>
        <div class="form-group text-right m-t-20">
          <div class="pull-left">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary btn-custom w-md waves-effect waves-light">로그인</button>
            </div>
          </div>
          <div class="pull-right">
            <div class="col-xs-12">
              <a type="button" (click)="openAddUser(userModal)" class="btn btn-primary btn-custom w-md waves-effect waves-light">
                <i class="md md-person-add m-r-10"></i>계정신청</a>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
  <p class="m-t login-copy text-white text-center">
    <small>
      <strong class="m-r-5">Copyright</strong>ISU SYSTEM Co. Ltd. ALL RIGHT RESERVED. © 2017</small>
  </p>
  <div class="row login-banner">
    <div class="col-md-4 text-center">
      <a href="http://www.isusystem.com" target="_blank" class="btn btn-outline-wprimary">
        <i class="md md-domain m-r-10"></i>
        <b>회사소개</b>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="http://blog.isusystem.com/" target="_blank" class="btn btn-outline-wwarning">
        <i class="md md-local-cafe m-r-10"></i>
        <b>블로그</b>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="http://www.isusystem.com/kor/customer/getCus1002Html.do" target="_blank" class="btn btn-outline-winfo">
        <i class="md md-place m-r-10"></i>
        <b>찾아오시는길</b>
      </a>
    </div>
  </div>    
</div>

<!-- start account modal -->
<ng-template #userModal let-c="close" let-d="dismiss">
    <app-account></app-account>
</ng-template>
<!-- end account modal -->
