<div class="abs-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
<app-toast></app-toast>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="search-icon">
        검색조건
      </mat-panel-title>
      {{group_flag}}
      <mat-panel-description *ngIf="group_flag == 'in'" class="search-icon">
        조회년/월/업무/회사를 선택하세요. <span>&nbsp;({{yyyy}}/{{mmDesc}}/{{higher_nm}}/{{company_nm}})</span>
      </mat-panel-description>
      <mat-panel-description *ngIf="group_flag == 'out'" class="search-icon">
        조회년/월/업무를 선택하세요. <span>&nbsp;({{yyyy}}/{{mmDesc}}/{{higher_nm}})</span>
        </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">
                    <mat-form-field class="mat-form-field">
                        <mat-select [ngModel]="yyyy"
                                    name="yyyy" 
                                    (selectionChange)="setYyyy($event.value)"
                                    placeholder="조회년도">
                            <mat-option *ngFor="let obj of yyyyObj;" [value]="obj">{{obj}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field class="mat-form-field">
                        <mat-select [ngModel]="mmInit"
                                    name="mm" 
                                    (selectionChange)="setMm($event.value)"
                                    placeholder="조회월">
                            <mat-option *ngFor="let obj of mmObj;let idx = index; " [value]="idx">{{obj.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div *ngIf="group_flag == 'in'" class="col-lg-2">
                    <app-higher-cd 
                        [scope]="user_flag"
                        [required]="false"
                        [choiceElement]="false"
                        [allElement]="true"
                        [company]="company_cd"
                        [placeholder]="'상위업무'"
                        [type]="'search'"
                        (outHigherCd)="setHigher($event)"
                    ></app-higher-cd>  
                </div>
                <div *ngIf="group_flag == 'out'" class="col-lg-2"> 
                        <app-higher-cd 
                            [scope]="'company'"
                            [required]="true"
                            [company]="company_cd"
                            [placeholder]="'요청업무'"
                            (outHigherCd)="setHigher($event)"
                        ></app-higher-cd>
                    </div>
                <div *ngIf="group_flag == 'in'" class="col-lg-2">
                    <mat-form-field class="mat-form-field2">
                            <mat-select [ngModel]="companyInit"
                                        name="company_cd" 
                                        (selectionChange)="setCompany($event.value)"
                                        placeholder="회사명">
                                <mat-option value="-1">전체</mat-option>
                                <mat-option *ngFor="let obj of companyObj;let idx = index" [value]="idx">{{obj.company_nm}}</mat-option>
                            </mat-select>
                        </mat-form-field>  
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<!--<mat-tab-group  (selectedTabChange)="tabChanged($event)">-->
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon1">show_chart</mat-icon>
      건수
    </ng-template>
    <app-dashboard1 [searchYyyy]="yyyy"
                    [searchMm]="mm"
                    [searhHigherCd]="higher_cd"
                    [searhHigherNm]="higher_nm"
                    [searchCompany]="company_cd"
    ></app-dashboard1>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon2">thumb_up</mat-icon>
      만족도
    </ng-template>
    <app-dashboard2 [searchYyyy]="yyyy"
                    [searchMm]="mm"
                    [searhHigherCd]="higher_cd"
                    [searhHigherNm]="higher_nm"
                    [searchCompany]="company_cd"
    ></app-dashboard2>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon3">touch_app</mat-icon>
      인원
    </ng-template>
    <app-dashboard3 [searchYyyy]="yyyy"
                    [searchMm]="mm"
                    [searhHigherCd]="higher_cd"
                    [searhHigherNm]="higher_nm"
                    [searchCompany]="company_cd"
    ></app-dashboard3>
  </mat-tab>
</mat-tab-group>