<div class="content">
  <div class="container">
    <div class="svcd-body-content">
      <app-page-header [title]="'처리구분코드 추가'"></app-page-header>
      <form novalidate #f="ngForm" (ngSubmit)="addProcessGubunCode(f)" class="form-horizontal group-border-dashed">
        <div ngModelGroup="processGubunCode">
          <div class="row">
            <div class="col-sm-12">
              <div role="toolbar" class="btn-toolbar m-t-10  float-right">
                <div class="float-right">
                  <button type="button" (click)="goList()" class="btn btn-primary waves-effect waves-light m-l-5 btn-sm">
                    <i class="fa fa-bars"></i>목록</button>
                  <button type="submit" [disabled]="!f.valid" class="btn btn-primary waves-effect waves-light m-l-5 btn-sm">
                    <i class="fa fa-send-o"></i>저장
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-box">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-8 col-sm-12 col-centered">
                      <div class="form-group">

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="higher_cd" id="higher_cd" type="text" name="higher_cd"
                              placeholder="상위업무코드" style="ime-mode:active;" readonly>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="higher_nm" id="higher_nm" type="text" name="higher_nm"
                              placeholder="상위업무명" style="ime-mode:active;" readonly>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select name="higher_select" (selectionChange)="setHigherCd($event.value)"
                              placeholder="상위업무명">
                              <mat-option *ngFor="let obj of higherObj; let idx = index" [value]="idx" required>{{obj.higher_nm}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select [ngModel]="question_type" name="question_type" placeholder="사용여부">
                              <mat-option *ngFor="let obj of question_typeObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="process_cd" id="process_cd" type="text" name="process_cd"
                              placeholder="처리구분코드" style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="process_nm" id="process_nm" type="text" name="process_nm"
                              placeholder="처리구분명" style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="description" id="description" type="text" name="description"
                              placeholder="설명" style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select [ngModel]="use_yn" name="use_yn" placeholder="사용여부">
                              <mat-option *ngFor="let obj of use_ynObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="user_nm" id="user_nm" type="text" name="user_nm" placeholder="등록자"
                              style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field2">
                            <span matPrefix>
                              <i class="prefix fa fa-info-circle">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="user_id" id="user_id" type="text" name="user_id" placeholder="이메일"
                              style="ime-mode:active;">
                          </mat-form-field>
                        </div>


                      </div>

                    </div>
                  </div> <!-- row end -->
                </div>
              </div>
            </div>
          </div> <!-- row end -->


        </div>
      </form>
    </div>
  </div>
</div>
