<app-toast></app-toast>
<div class="modal-header" style="text-align:left">
  <h5 class="modal-title">
    완료
  </h5>
  <button (click)="closeModal($event)" type="button" aria-hidden="true" class="close">×</button>
</div>
<div class="modal-body">
  <form novalidate #f="ngForm" (ngSubmit)="complete(f)" class="form-horizontal group-border-dashed">
        <div ngModelGroup="incident">
            <div class="row" >
                <div class="col-lg-9  float-left">
                    <h5 class="m-t-30 text-primary-svc">
                        <i style="font-size:22px" class="md md-sms m-r-10"></i>
                        <span style="font-size:14px"><b>완료 내용을 입력하세요.</b></span>
                    </h5>
                </div>
                <div class="col-lg-3 float-right">
                    <button type="submit" 
                            [disabled]="!f.valid" 
                            class="btn btn-sm btn-primary waves-effect waves-light float-right m-t-20">
                    <i class="fa fa-check"></i> 저장
                    </button>
                </div>
            </div>
            <div class="card-box m-r-5">
                <div class="row">
                    <div class="col-lg-4 m-t-20">
                        <mat-checkbox [ngModel]="checked" name="solution_flag">해결여부</mat-checkbox>&nbsp;&nbsp;&nbsp;
                        <mat-checkbox *ngIf="incidentDetail?.higher_cd == 'H001' || incidentDetail?.higher_cd == 'H006'" [ngModel]="checked" name="self_solve_flag">자체처리</mat-checkbox>
                    </div>
                    <div class="col-lg-8">
                        <mat-form-field class="mat-form-field1">
                            <mat-select ngModel
                                        (selectionChange)="onSelect($event.value)"
                                        required
                                        [ngModelOptions]="{standalone: true}"
                                        placeholder="처리구분">
                                <mat-option *ngFor="let obj of processGubunObj;  let i = index" value="{{i}}">{{obj.process_nm}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">        
                        <div class="form-group">
                            <!--
                            <textarea [(ngModel)]="complete_content" rows="6" name="complete_content" class="form-control" placeholder="처리내용">
                            </textarea>
                            -->
                            <textarea [(ngModel)]="complete_content"
                                    id="summernote" 
                                    name="complete_content" 
                                    class="form-control" 
                                    align="left" 
                                    row="6"
                            ></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 m-t-20">
                        <mat-checkbox ngModel name="complete_open_flag">공개여부</mat-checkbox>
                    </div>
                    <div class="col-lg-4" >
                        <mat-form-field>
                            <input matInput 
                                    [ngModel] = "init_work_time" 
                                    type="text" 
                                    name="work_time"
                                    required
                                    style = "text-align:right;"
                                    placeholder="처리시간" 
                            >
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 m-t-20">
                        <span class="float-left">시간</span>
                    </div>
                </div>
    
                <!-- 첨부파일 Start-->
                <div class="card-box m-r-5">
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <input type="file" 
                                ng2FileSelect 
                                [uploader]="uploader" 
                                name="avatar" 
                                id="avatar" 
                                multiple
                                style="width:100%"
                            >
                        </div>
                        <div class="col-lg-3 col-sm-12" >
                            <mat-label class>첨부개수 : {{ uploader?.queue?.length }}</mat-label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 m-b-40">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="50%">파일명</th>
                                        <th>크기</th>
                                        <th>진행</th>
                                        <th>상태</th>
                                        <th>제거</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of uploader.queue">
                                        <td>
                                            <strong>{{ item?.file?.name }}</strong>
                                        </td>
                                        <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                        <td *ngIf="uploader.options.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="item.isSuccess">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                            <span *ngIf="item.isCancel">
                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                            </span>
                                            <span *ngIf="item.isError">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </span>
                                        </td>
                                        <td nowrap>
                                            <!--
                                            <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            </button>
                                            <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                            </button>
                                            -->
                                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> 제거
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    
                            <div style="text-align: right">
                                <div>
                                    업로드 상태:
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <!--
                                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                </button>
                                -->
                                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> 전체 제거
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 첨부파일 End-->

                <hr>
                
                <div class="row"> 
                    <div class="col-lg-12">        
                        <div class="form-group">
                            <textarea ngModel rows="2" name="delay_reason" class="form-control" placeholder="지연사유">
                            </textarea>      
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-12">        
                        <div class="form-group">
                            <textarea ngModel rows="4" name="program_id" class="form-control" placeholder="Programe ID">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-lg-12">        
                        <div class="form-group">
                            <textarea ngModel rows="4" name="sharing_content" class="form-control" placeholder="처리공유">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>  
</div>
