<!-- 제목 시작-->
<section class="content-header">
  <h1>
    <small>Service Desk Dashboard</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i>&nbsp;요청건 수 현황</a>
    </li>
    <li class="active"></li>
  </ol>
</section>
<!-- 제목 끝-->

<section class="content">
  <div class="row">

    <div class="col-lg-12 col-sm-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h4 class="text-dark header-title float-left m-l-30">월별 요청건 현황</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 m-t-60">
                    <ngx-charts-line-chart  [view]="[1700, 400]" 
                                            [scheme]="colorScheme3" 
                                            [results]="monthlyCntChart" 
                                            [gradient]="gradient"
                                            [xAxis]="showXAxis" 
                                            [yAxis]="showYAxis" 
                                            [legend]="showLegend" 
                                            [legendTitle]="''" 
                                            [showXAxisLabel]="showXAxisLabel" 
                                            [showYAxisLabel]="showYAxisLabel" 
                                            [xAxisLabel]="xAxisLabel" 
                                            [yAxisLabel]="yAxisLabel" 
                                            [autoScale]="autoScale" 
                                            [timeline]="timeline" 
                                            (select)="onSelect(content, $event)">
                    </ngx-charts-line-chart>
            </div>

        </div> <!-- row end-->

        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h4 class="text-dark header-title float-left m-l-30">업무별 상위 회사</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 m-t-60">
                <ngx-charts-bar-vertical-2d
                            class="chart-container"
                            [view]="[1750, 1000]"
                            [scheme]="colorScheme1"
                            [results]="chartData3"
                            [animations]="true"
                            [gradient]="true"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="false"
                            [legendTitle]="''"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [tooltipDisabled]="false"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            (legendLabelClick)="onLegendLabelClick($event)"
                            [showGridLines]="true"
                            [barPadding]="'5'"
                            [groupPadding]="'10'"
                            [roundDomains]="false"
                            [roundEdges]="true"
                            [yScaleMax]="'1'"
                            [showDataLabel]="false"
                            (select)="select($event)"
                >
                </ngx-charts-bar-vertical-2d> 

            </div>
        </div><!-- row end-->

      </div> <!-- card-box end-->
    </div>

  </div> <!-- row end-->
</section>

<ng-template #content let-c="close" let-d="dismiss">
    <app-incident-list-modal [cValues]="this.c"
                        [dValues]="this.d"
                        [selectedItem]="selectedItem"
    >
    </app-incident-list-modal>
</ng-template>