<div class="modal-header" style="text-align:left">
    <h5 class="modal-title">
        자주묻는 질문과 답 상세보기
    </h5>
    <button (click)="closeModal($event)" type="button" aria-hidden="true" class="close">×</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <form novalidate #f="ngForm" (ngSubmit)="updateQna(f)" class="form-horizontal group-border-dashed">    
                <!--<form #f="ngForm" (ngSubmit)="saveUser(f)" novalidate>-->
                <div ngModelGroup="qna">
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div role="toolbar" class="btn-toolbar m-b-10">
                                <div class="float-right">
                                    <button type="button" (click)="cValues('Close click')" class="btn btn-primary waves-effect waves-light m-l-5 btn-sm">
                                        <i class="fa fa-bars"></i>목록</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box m-r-5">
                                
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 float-left">
                                            <mat-form-field class="mat-form-field3">
                                                <span matPrefix>
                                                    <i class="prefix fa fa-star">&nbsp;&nbsp;&nbsp;</i>
                                                </span>
                                                <input matInput 
                                                       [ngModel]="qnaDetail?.title" 
                                                       id="title" 
                                                       type="text" 
                                                       name="title" 
                                                       placeholder="제목"
                                                    style="ime-mode:active;"
                                                >
                                            </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 float-left">
                                        <p [innerHTML]=qnaDetail?.content ></p>
                                    </div>
                                </div>

                                <div class="row" *ngIf="qnaDetail?.attach_file.length > 0" style="text-align:left">

                                    <div class="col-lg-12">
                                      <div>
                                        <h6>* 첨부파일
                                          <b class="text-primary-svc"> {{qnaDetail?.attach_file.length}} </b>개</h6>
                                        <div *ngFor="let file of qnaDetail?.attach_file" class="i fa fa-paperclip m-r-10 m-b-10">
                                          <a (click)="fileDownLoad(file?.path, file?.originalname)" style="cursor: pointer">
                                            <span class="text-pink">&nbsp;{{file?.originalname}}</span>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>


                            </div>
                        </div>
                    </div>

                </div><!-- ngModelGroup-->
            </form>
        </div>
    </div>
</div>
