<div class="content">
  <div class="container">
    <div class="svcd-body-content">
      <app-page-header [title]="'사용자 신규 등록'"></app-page-header>
      <form novalidate #f="ngForm" (ngSubmit)="insertUser(f)" class="form-horizontal group-border-dashed">
        <div ngModelGroup="user">
          <div class="row">
            <div class="col-sm-12">
              <div role="toolbar" class="btn-toolbar m-t-10  float-right">
                <div class="float-right">
                  <button type="button" (click)="goList()" class="btn btn-primary waves-effect waves-light m-l-5 btn-sm">
                    <i class="fa fa-bars"></i>목록</button>
                  <button type="submit" [disabled]="!f.valid" class="btn btn-primary waves-effect waves-light m-l-5 btn-sm">
                    <i class="fa fa-send-o"></i>저장
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card-box">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 col-sm-12 col-centered">
                      <div class="form-group">

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-keyboard-o">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="userCompany_nm" type="text" name="userCompany_nm" placeholder="입력한 회사명"
                              style="ime-mode:active;" readonly>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="company_cd" type="text" name="company_cd" placeholder="회사코드"
                              style="ime-mode:active;" readonly>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap" style="display:none">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput [ngModel]="company_nm" type="text" name="company_nm" placeholder="회사명"
                              style="ime-mode:active;" readonly>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select name="company_select" (selectionChange)="setCompany($event.value)" placeholder="맵핑할 회사명">
                              <mat-option *ngFor="let obj of companyObj; let idx = index" [value]="idx" required>{{obj.company_nm}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-envelope-o">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput 
                                  (ngModel)="email" 
                                  #email="ngModel"
                                  type="text" 
                                  name="email" 
                                  placeholder="email" 
                                  style="ime-mode:active;"
                                  required
                                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                            >
                            <mat-hint *ngIf="(email.invalid ) && (email.dirty) && (!f.submitted)">
                                Email 형식에 맞게 입력하세요.
                            </mat-hint>
                          </mat-form-field>
                        </div>
                        <div *ngIf="company_cd == 'ISU_ST'" class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-id-card-o">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="sabun" 
                                   type="text" name="sabun" 
                                   placeholder="사원번호" 
                                   style="ime-mode:active;"
                                   required
                             >
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-key">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="password" 
                                   type="password" 
                                   name="password" 
                                   placeholder="비밀번호"
                                   style="ime-mode:active;"
                                   required
                            >
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-user">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="employee_nm" type="text" name="employee_nm" placeholder="사원명"
                              style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-institution">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="dept_nm" type="text" name="dept_nm" placeholder="부서명" style="ime-mode:active;">
                          </mat-form-field>
                        </div>
                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-id-badge">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="position_nm" type="text" name="position_nm" placeholder="직위"
                              style="ime-mode:active;">
                          </mat-form-field>
                        </div>
                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-id-badge">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="jikchk_nm" type="text" name="jikchk_nm" placeholder="직책" style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                      </div>
                    </div>


                    <div class="col-lg-5 col-sm-12 col-centered">
                      <div class="form-wrap">

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-phone">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="hp_telno" type="text" name="hp_telno" placeholder="핸드폰번호">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix>
                              <i class="prefix fa fa-fax">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <input matInput (ngModel)="office_tel_no" type="text" name="office_tel_no" placeholder="회사전화번호"
                              style="ime-mode:active;">
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select (ngModel)="group_flag" name="group_flag" placeholder="그룹사권한구분" required>
                              <mat-option *ngFor="let obj of groupFlagObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select (ngModel)="user_flag" name="user_flag" placeholder="사용자권한구분">
                              <mat-option *ngFor="let obj of userFlagObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select (ngModel)="email_send_yn" name="email_send_yn" placeholder="메일 발송여부">
                              <mat-option *ngFor="let obj of emailSendYnObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select (ngModel)="access_yn" name="access_yn" placeholder="계정 승인여부" required>
                              <mat-option *ngFor="let obj of accessYnObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                        <div class="input-wrap">
                          <mat-form-field class="mat-form-field1">
                            <span matPrefix style="width:10px">
                              <i class="prefix fa fa-group">&nbsp;&nbsp;&nbsp;</i>
                            </span>
                            <mat-select (ngModel)="using_yn" name="using_yn" placeholder="계정 사용여부" required>
                              <mat-option *ngFor="let obj of usingYnObj" [value]="obj.value">{{obj.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-1"></div>
                  </div> <!-- row end -->
                  
                </div>
              </div>
            </div>
          </div> <!-- row end -->
        </div>
      </form>
    </div>
  </div>
</div>
