<!-- 제목 시작-->
<section class="content-header">
    <h1>
      <small>Service Desk Dashboard</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>&nbsp;인원현황</a>
      </li>
      <li class="active"></li>
    </ol>
  </section>
  <!-- 제목 끝-->
  
  <section class="content">
    <!-- 상태 차트 시작-->
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <h4 class="text-dark header-title float-left m-l-30">접수 처리 현황</h4>
              <ngx-charts-pie-grid [view]="view1" 
                                   [scheme]="colorScheme1" 
                                   [label]="'건수'" 
                                   [results]="statusChart1" 
                                   (select)="onSelect(content, $event)"
              >
              </ngx-charts-pie-grid>
            </div>
            <div class="col-sm-6 col-lg-6">
              <h4 class="text-dark header-title  float-left m-l-30">완료 평가 현황</h4>
              <ngx-charts-pie-grid [view]="view1" 
                                   [scheme]="colorScheme2" 
                                   [label]="'건수'" 
                                   [results]="statusChart2" 
                                   (select)="onSelect(content, $event)"
              >
              </ngx-charts-pie-grid>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-sm-12 col-lg-6">
        <div class="card-box">
          <div class="row">
            <h4 class="text-dark header-title float-left m-l-30">만족도 현황</h4>
            <ngx-charts-advanced-pie-chart [view]="view2" 
                                           [scheme]="colorScheme3" 
                                           [results]="valuationChart" 
                                           [gradient]="gradient"
                                           (select)="onSelect(content, $event)"
              >
            </ngx-charts-advanced-pie-chart>
          </div>
        </div>
      </div>
  
    </div>
    <!-- 상태 차트 끝-->
  
    <!-- 만족도, 요청 현황 차트 시작-->
    <div class="row">
  
      <div class="col-lg-12 col-sm-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-12 col-lg-6 m-t-60">
              <h4 class="text-dark header-title float-left m-l-30">월별 요청건 현황</h4>
              <ngx-charts-line-chart [view]="view3" 
                                      [scheme]="colorScheme3" 
                                      [results]="monthlyCntChart" 
                                      [gradient]="gradient" 
                                      [xAxis]="showXAxis"
                                      [yAxis]="showYAxis" 
                                      [legend]="showLegend"
                                      [legendTitle]="''"
                                      [showXAxisLabel]="showXAxisLabel" 
                                      [showYAxisLabel]="showYAxisLabel" 
                                      [xAxisLabel]="xAxisLabel"
                                      [yAxisLabel]="yAxisLabel" 
                                      [autoScale]="autoScale" 
                                      [timeline]="timeline" 
                                      (select)="onSelect(content, $event)"
              >
              </ngx-charts-line-chart>
            </div>
            <div class="col-sm-12 col-lg-6 float-left">
              <h4 class="text-dark header-title float-left m-l-30">총요청 현황</h4>  
              <ngx-charts-pie-chart [view]="view3" 
                  [scheme]="colorScheme3" 
                  [results]="higherCntChart" 
                  [explodeSlices]="true" 
                  [gradient]="gradient"
                  [labels]="true"
                  (select)="onSelect(content, $event)" 
              >
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <!-- 만족도, 요청 현황 차트 끝-->
  
  </section>
 