<!-- 제목 시작-->
<section class="content-header">
    <h1>
      <small>Service Desk Dashboard</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i>인원현황</a>
      </li>
      <li class="active"></li>
    </ol>
  </section>
  <!-- 제목 끝-->
  
  <section class="content">
    <!-- 상태 차트 시작-->
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h4 class="text-dark header-title float-left m-l-30">요청/담당자</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <ngx-charts-bar-vertical-2d
                                    class="chart-container"
                                    [view]="view1"
                                    [scheme]="colorScheme3"
                                    [results]="chartData1"
                                    [animations]="true"
                                    [gradient]="true"
                                    [xAxis]="true"
                                    [yAxis]="true"
                                    [legend]="true"
                                    [legendTitle]="'구분'"
                                    [showXAxisLabel]="true"
                                    [showYAxisLabel]="true"
                                    [tooltipDisabled]="true"
                                    [xAxisLabel]="'연도'"
                                    [yAxisLabel]="'인원수'"
                                    (legendLabelClick)="onLegendLabelClick($event)"
                                    [showGridLines]="'true'"
                                    [barPadding]="'7'"
                                    [groupPadding]="'20'"
                                    [roundDomains]="true"
                                    [roundEdges]="true"
                                    [yScaleMax]="'16'"
                                    [showDataLabel]="false"
                                    (select)="select($event)"
                        >
                        </ngx-charts-bar-vertical-2d> 
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-12 col-lg-6">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12 col-lg-3">
                        <div class="row">
                            <h4 class="text-dark header-title float-left m-l-30">문의</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <table class="table table-sm table-primary">
                                    <thead>
                                        <tr>
                                        <th scope="col">홍길동</th>
                                        <th scope="col">231</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="row">
                            <h4 class="text-dark header-title float-left m-l-30">접수</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <table class="table table-sm table-secondary">
                                    <thead>
                                        <tr>
                                        <th scope="col">홍길동</th>
                                        <th scope="col">231</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="row">
                            <h4 class="text-dark header-title float-left m-l-30">만족</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <table class="table table-sm table-success">
                                    <thead>
                                        <tr>
                                        <th scope="col">홍길동</th>
                                        <th scope="col">231</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="row">
                            <h4 class="text-dark header-title float-left m-l-30">불만</h4>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <table class="table table-sm table-danger">
                                    <thead>
                                        <tr>
                                        <th scope="col">홍길동</th>
                                        <th scope="col">231</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                        <tr>
                                        <td scope="row">이순신</td>
                                        <td scope="row">123</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
    <!-- 상태 차트 끝-->
  
    <!-- 만족도, 요청 현황 차트 시작-->
    <div class="row">
  
        <div class="col-lg-12 col-sm-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h4 class="text-dark header-title float-left m-l-30">업무별 현황</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 m-t-60">
                        <ngx-charts-bar-vertical-2d
                                    class="chart-container"
                                    [view]="view3"
                                    [scheme]="colorScheme1"
                                    [results]="chartData3"
                                    [animations]="'true'"
                                    [gradient]="'true'"
                                    [xAxis]="'false'"
                                    [yAxis]="'false'"
                                    [legend]="'true'"
                                    [legendTitle]="'구분'"
                                    [showXAxisLabel]="'false'"
                                    [showYAxisLabel]="'false'"
                                    [tooltipDisabled]="'false'"
                                    [xAxisLabel]="'업무'"
                                    [yAxisLabel]="'인원수'"
                                    (legendLabelClick)="onLegendLabelClick($event)"
                                    [showGridLines]="'true'"
                                    [barPadding]="'5'"
                                    [groupPadding]="'20'"
                                    [roundDomains]="'false'"
                                    [roundEdges]="'true'"
                                    [yScaleMax]="'1'"
                                    [showDataLabel]="'false'"
                                    (select)="select($event)"
                        >
                        </ngx-charts-bar-vertical-2d> 

                    </div>
                </div>
            </div>
        </div>
  
    </div>
    <!-- 만족도, 요청 현황 차트 끝-->
  
  </section>
 