<app-loading [condition]="isLoading"></app-loading>
<app-toast></app-toast>
<div class="svcd-body-content">
    <app-page-header [title]="'처리구분 코드조회'"></app-page-header>
    
    <!-- start Search Area-->
    <div class="row">
      <div class="col-lg-12">
          <div class="card-box">
          <form novalidate #f="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal group-border-dashed">
              <div class="form-group row">
                <div class="col-lg-3 col-sm-12">
                    <mat-form-field>
                        <mat-select [(ngModel)]="searchType"
                                    name="searchType" 
                                    (change)="onSubmit()"
                                    placeholder="검색구분">
                            <mat-option *ngFor="let obj of searchTypeObj" [value]="obj.value">{{obj.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-9 col-sm-12">
                    <mat-form-field class="mat-form-field2">
                        <input matInput
                            [(ngModel)]="searchText"
                            name="searchText"
                            type="input" 
                            placeholder="검색어"
                        >
                    </mat-form-field>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary waves-effect waves-light m-r-5 btn-sm">
                        <span>조회</span>
                        <i class="fa fa-search m-r-5"></i>
                    </button>
                    <button type="button" (click)="goAddPage()"  class="btn btn-success waves-effect waves-light m-l-5 btn-sm"> 
                        <i class="fa fa-arrow-circle-o-down"></i>추가
                    </button>
                </div>
            </div>  
          </form>
          </div>
      </div>
  </div>
  <!-- end Search Area-->  
  <div class="row">
      <div class="col-lg-12">
        <div class="card-box">
          <!--table.table.table-bordered(id='dvData')-->
          <iframe id="txtArea1" style="display:none"></iframe>
          <table id="dvData" class="table table-hover">
            <thead>
              <tr>
                <th width="25%" class="text-center">처리구분명</th>
                <th width="8%" class="text-center">유형</th>
                <th class="text-center">설명</th>
                <th width="8%" class="text-center">등록자</th>
                <th width="8%" class="text-center">사용여부</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let higher of higherProcess" (click)="setDetail(companyDetailModal, com);">-->
              <tr *ngFor="let gubun of processGubunCode" (click)="setDetail(processGubunCodeDetailModal, gubun);">
                <td class='text-left'>{{gubun.process_nm}}</td>
                <td class='text-center'>{{gubun.question_type}}</td>
                <td class='text-left'>{{gubun.description}}</td>
                <td class='text-center'>{{gubun.user_nm}}</td>
                <td class='text-center'>{{gubun.use_yn}}</td>
              </tr>
            </tbody>
          </table>
        </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="dataTables_info">Showing 1 to 15 of <span id="totalPage">{{totalPage}}</span> pages
          /
          총 <span id="totalCnt">{{totalDataCnt}}</span>개
      </div>
    </div>
    <div class="col-sm-8">
      <ngb-pagination [collectionSize]="totalDataCnt" pageChange 
                      [(page)]="page" 
                      [maxSize]="maxSize" 
                      [pageSize]="pageDataSize"
                      [rotate]="true" 
                      [ellipses]="false" 
                      [boundaryLinks]="true"
                      (pageChange)="pageChange($event)"
                      class="float-right"
      ></ngb-pagination>
    </div>
  </div>

<!-- start detail view modal -->

<ng-template #processGubunCodeDetailModal let-c="close" let-d="dismiss">
    <app-process-gubun-code-detail [cValues]="this.c"
                           [dValues]="this.d"
                           [processGubunCodeDetail]="processGubunCodeDetailModal"
                           (openerReload) = "reload()" 
    ></app-process-gubun-code-detail>
</ng-template>


<!-- end detail view modal -->