
<side-nav-x-group title="문의하기">
    <side-nav-item route="/svcd/1100" title="문의하기" icon="create"></side-nav-item>
    <side-nav-item route="/svcd/1200" title="처리진행현황" icon="format_quote"></side-nav-item>
    <side-nav-item route="/svcd/1400" title="처리된 내용검색" icon="reorder"></side-nav-item>
    <side-nav-item route="/svcd/1300" title="자주묻는 질문과답" icon="help"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD Dashboard">
    <side-nav-item route="/svcd/9100" title="Dashboard" icon="pie_chart"></side-nav-item>
</side-nav-x-group>
<side-nav-x-group title="SD 검색">
    <side-nav-item route="/svcd/3100" title="전체내용검색" icon="search"></side-nav-item>
</side-nav-x-group>
    